{% extends 'base.html' %}

{% block title %}Splity{% endblock %}

{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
    <h1>Add bill</h1>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.description.label }}<br>
            {{ form.description(class="form-control", rows=3) }}<br>
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.amount.label }} ({{ currency }}) <br>
            {{ form.amount(class="form-control", rows=3) }}<br>
            {% for error in form.amount.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p> Paid by YOU spread</p>
        <p>
        {{ form.names.label }}
        {{ form.names() }}
        {% if form.names.errors %}
            <ul>
                {% for error in form.names.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
</div>
{% endblock %}

